.badge-container {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.status-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20px;
  flex: 1;
}

.fa-star, .badge-label {
  display: block;
  margin: auto;
}

.fa-star {
  font-size: 25px;
  color: --yellow-500;
}

.user-profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fa-solid.fa-seedling {
  color: grey;
}

@for $i from 1 through 8 {
  .fa-seedling.level-#{$i}.achieved {
    color: nth((--teal-100, --teal-200, --teal-300, --teal-400, --teal-500, --teal-600, --teal-700, --teal-800), $i);
  }
}

.main-container {
  display: flex;
  align-items: flex-start;
  width: 100%
}

.left-side {
  flex: 1;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
